.pytest_cache/
__pycache__/
notebooks/
.venv/
dist/
docs/build/
data/
tmp/
memray_flamegraphs/
.ipynb_checkpoints/

# pixi environments
.pixi
*.egg-info

# Maturin / extensions
*.so
*.pyd
*.dll

# Added by cargo

/target
