[workspace]
name = "genoray"
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]

[environments]
default = ["py310"]
doc = ["doc", "py312"]
py310 = ["py310"]
py311 = ["py311"]
py312 = ["py312"]
py313 = ["py313"]
sbox = ["sbox", "py310"]

[dependencies]
uv = "*"
bcftools = "*"
plink2 = "*"
commitizen = "*"
prek = "*"
ruff = "*"
memray = ">=1.12.0,<2"
pytest = "*"
pytest-cases = "*"
ipykernel = "*"
ipywidgets = "*"
icecream = "*"
typing-extensions = "<4.15"

[pypi-dependencies]
genoray = { path = ".", editable = true, extras = ["cli"] }
# dev deps
seaborn = "*"

[tasks]
gen = "sh tests/data/gen_from_vcf.sh"
test = { cmd = "pytest tests", depends-on = "gen" }
prek-install = "prek install"
bump-dry = "cz bump --dry-run"

[feature.doc.dependencies]
sphinx = "*"
sphinx-book-theme = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
myst-parser = "*"

[feature.doc.tasks]
doc = { cmd = "make clean && make html", cwd = "docs" }

[feature.py310.dependencies]
python = "3.10.*"

[feature.py310.pypi-dependencies]
# min version deps
numpy = "==1.26.*"
pandas = "==2.2.*"
polars = "==1.37.*"
polars-bio = "==0.20.*"
tqdm = "==4.67.*"
typing-extensions = "==4.14.*"
more-itertools = "==10.0.*"
cyvcf2 = "==0.31.*"
hirola = "==0.3.*"
pgenlib = "==0.91.*"
pyranges = "==0.1.*"
pyarrow = "==21.0.*"
phantom-types = "==3.0.*"
loguru = "==0.7.*"
attrs = "*"
awkward = "*"
numba = "*"
seqpro = "==0.8.*"
zstandard = "*"
pydantic = "*"
oxbow = "==0.5.*"
joblib = "==1.4.*"
joblib-progress = "==1.0.*"
filelock = "==3.0.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py313.pypi-dependencies]
numpy = ">=2"

[feature.sbox.pypi-dependencies]
fast-histogram = "*"

[feature.sbox.tasks]
i-kernel = "ipython kernel install --user --name genoray"
