[workspace]
name = "genoray"
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]

[environments]
default = ["dev", "py39"]
doc = ["doc", "py312"]
py39 = ["py39"]
py310 = ["py310"]
py311 = ["py311"]
py312 = ["py312"]

[dependencies]
uv = "*"
bcftools = "*"
plink2 = "*"
commitizen = "*"
pre-commit = "*"
ruff = "*"
memray = ">=1.12.0,<2"

[pypi-dependencies]
genoray = { path = ".", editable = true, extras = ["cli"] }
pytest = "*"
pytest-cases = "*"
ipykernel = "*"
ipywidgets = "*"
numpy = "*"
pandas = "*"
polars = "*"
polars-bio = "*"
typing-extensions = "*"
tqdm = "*"
more-itertools = "*"
cyvcf2 = "*"
hirola = "*"
pgenlib = "*"
pyranges = "*"
pyarrow = "*"
phantom-types = "*"
loguru = "*"
attrs = "*"
awkward = "*"
numba = "*"
seqpro = "*"
cyclopts = "*"
zstandard = "*"
pydantic = "*"
oxbow = "*"

[tasks]
gen = { cmd = "sh tests/data/gen_from_vcf.sh" }
test = { cmd = "pytest tests", depends-on = "gen" }
pre-commit = "pre-commit install --hook-type commit-msg"
bump-dry = "cz bump --dry-run"

[feature.dev.pypi-dependencies]
numpy = "==1.26"
pandas = "==2.2.3"
polars = "==1.30"
polars-bio = "==0.19.0"
typing-extensions = ">=4.11"
tqdm = "==4.67"
more-itertools = "==10.0"
cyvcf2 = "==0.31.1"
hirola = "==0.3.0"
pgenlib = "==0.91.0"
pyranges = "==0.1.3"
pyarrow = ">=21"
phantom-types = "==3"
loguru = "==0.7.0"
attrs = "*"
awkward = "*"
numba = "*"
seqpro = "==0.8.0"
cyclopts = "*"
zstandard = "*"
pydantic = "*"
# non-pkg dependencies
seaborn = "*"
oxbow = "==0.5.1"

[feature.dev.tasks]
i-kernel = "ipython kernel install --user --name genoray"

[feature.doc.dependencies]
sphinx = "*"
sphinx-book-theme = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
myst-parser = "*"

[feature.doc.pypi-dependencies]
numpy = "*"
pandas = "*"
polars = "*"
typing-extensions = "*"
tqdm = "*"
more-itertools = "*"
cyvcf2 = "*"
hirola = "*"
pgenlib = "*"
pyranges = "*"
pyarrow = "*"
phantom-types = "*"
loguru = "*"
attrs = "*"
awkward = "*"
numba = "*"
seqpro = ">=0.8.0"

[feature.doc.tasks]
doc = { cmd = "make clean && make html", cwd = "docs" }

[feature.py39.dependencies]
python = "3.9.*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"
